<!DOCTYPE html>
<html>
<head>
    <title>Project Selection</title>
    <meta name="description" content="ISE Final Year Project Selection">
    <meta name="og:description" content="ISE Final Year Project Selection">
    <link id="favicon" rel="icon"
          href="https://cdn.glitch.com/914cc278-c3a0-4b60-8a95-d762ade5c801%2Ffavicon.ico?1536121283726"
          type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://cdn.glitch.com/914cc278-c3a0-4b60-8a95-d762ade5c801%2Fupdated%20logo.jpeg?1536168762686" />
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<br><br>
<div class="container">
    
    <div class="row">
      
      <div class="col-lg-3">
        
        <center>
        <img style="width:250px;height:130px;align:center" src="https://cdn.glitch.com/914cc278-c3a0-4b60-8a95-d762ade5c801%2Fupdated%20logo.jpeg?1536168762686">
        </center>
      </div>
      <div class="col-lg-9 pt-3">
        
        <center>
        <h3 style="color:#046c8e">DAYANANDA SAGAR COLLEGE OF ENGINEERING</h3>
        <h7 style="color: #b58a07;font-weight:bold;font-size:80%;"><small>AN AUTONOMOUS INSTITUTE AFFILIATED TO VISVESVARAYA TECHNOLOGICAL UNIVERSITY,<br>APPROVED BY AICTE AND UGC, ACCREDITED BY NAAC WITH 'A' GRADE</small>
        </h7><br><p style="font-weight:bold;font-size:80%;"> SHAVIGE MALLESHWARA HILLS, KUMARASWAMY LAYOUT, BENGALURU - 78</p>
        </center>
      </div>
  </div>
    <hr>
    <center><p style="color:#046c8e;font-size:180%;">DEPARTMENT OF INFORMATION SCIENCE AND ENGINEERING</p></center>
    <h4><small>Welcome to</small> Project Allotment <small>for Final Year ISE Students (UG Batch 2015-19) </small></h4>
    <p>Please follow the steps to register your team and submit your project choices</p>
    <div class="alert alert-warning">
      <small><strong>Verify all your details</strong> before clicking the submit button. 
        <strong>Submissions cannot be modified</strong>.<br>
      Final project assignments are up to the coordinators and respective guides.<br>
      Allotment is done on <strong>first-come-first-serve</strong> basis (whoever submits first). Your IP address and timestamp are being recorded</small>
    </div>
    <hr>
    <form action="">
        <div class="form-group">
          <label for="team-members"><strong>Step 1:</strong> Enter your Team Members' USNs <b>(one in each line)</b></label><br>
            <small>Minimum 3 and Maximum 4 (auto-filled according to registered email)</small>
            <textarea class="form-control" rows="4" id="team-members"></textarea>
        </div>
        
        <div id="alerts"></div>
        <hr>
        <label><strong>Step 2: </strong>Select project titles from the Available Projects list (by priority of choices) </label>
        <br><br>
        
        <div class="row">
            <div class="col-md-6">
              <div class="jumbotron pt-3 pb-3">
                 <b>Available Projects</b>
                <hr>
                <div style="height:15em;"  id="projectSelectionForm">
                    <img style="display:block; margin-left:auto; margin-right:auto; height:10em"
                         src="https://cdn.glitch.com/c2f40f93-8c0e-4ea1-ab79-d03ffc9797cf%2Findex.triple-gears-loading-icon.svg?1534345143690">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="jumbotron pt-3 pb-3">
                <b>Allotted Project List <small>Live Updates</small></b>
                <hr>
                <div style="height:15em;overflow-y:auto">
                    <ul id="takenProjectsList">
                        <img style="display:block; margin-left:auto; margin-right:auto; height:10em"
                             src="https://cdn.glitch.com/c2f40f93-8c0e-4ea1-ab79-d03ffc9797cf%2Findex.dual-gear-loading-icon.svg?1534345144958">
                    </ul>
                </div>
              </div>
            </div>
        </div>
        <label><strong>Step 3: </strong> Submit your choice</label><br><br>
        <div style="display:none" id="alreadySubmitted" class="alert alert-success">You have already submitted a registration</div>
        <input type="submit" class="btn btn-info form-control">
    </form>
    <hr><br>
    <a class="btn btn-danger form-control" href="/logoff">Logout</a>
    <hr><br>
    <h6>About</h6>
    <div class="row">
      <div class="col-md-9">
        <p>Project allotment coordinators:</p>
        <ul>
          <li>Mrs. Sharon Christa <br><small>Asst. Professor, Dept. of ISE</small> </li>
          <li>Mrs. Radhika T.V. <br><small>Asst. Professor, Dept. of ISE</small></li>
        </ul>
      </div>
      <div class="col-md-3">
        <img style="height:3em" src="https://cdn.glitch.com/914cc278-c3a0-4b60-8a95-d762ade5c801%2Fupdated%20logo.jpeg?1536168762686">
        <p>Dept. of ISE, DSCE,<br>Shavige Malleshwara Hills,<br>Kumaraswamy Layout,<br>Bengaluru - 560078</p>
      </div>
    </div>
    <br><br>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js" async defer></script>
<script src="/jdetects.min.js"></script>
<script>
// var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
// var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
// if(!isChrome&&!isSafari){
//   alert("Only CHROME or SAFARI browser will work during mock allotment.");
// }
// if(isChrome||isSafari){
  jdetects.create({
    once: true,
    label: "You are not allowed to view the source",
    onchange: function(status) {
      if(status==='on'){
        document.body.innerHTML='';
        window.location='/forbidden';
      }
    }
  }); 
// } 
</script>
</body>
</html>
