<!DOCTYPE html>
<html>
<head>
    <title>Project Selection Login</title>
    <meta name="description" content="ISE Final Year Project Selection">
    <meta name="og:description" content="ISE Final Year Project Selection">
    <link id="favicon" rel="icon"
          href="https://cdn.glitch.com/914cc278-c3a0-4b60-8a95-d762ade5c801%2Ffavicon.ico?1536121283726"
          type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://cdn.glitch.com/914cc278-c3a0-4b60-8a95-d762ade5c801%2Fupdated%20logo.jpeg?1536168762686" />
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<br><br>
<div class="container">
    
    <div class="row">
      
      <div class="col-lg-3">
        
        <center>
        <img style="width:250px;height:130px;align:left" src="https://cdn.glitch.com/914cc278-c3a0-4b60-8a95-d762ade5c801%2Fupdated%20logo.jpeg?1536168762686">
        </center>
      </div>
      <div class="col-lg-9 pt-3">
        
        <center>
        <h3 style="color:#046c8e">DAYANANDA SAGAR COLLEGE OF ENGINEERING</h3>
        <h7 style="color: #b58a07;font-weight:bold;font-size:80%;"><small>AN AUTONOMOUS INSTITUTE AFFILIATED TO VISVESVARAYA TECHNOLOGICAL UNIVERSITY,<br>APPROVED BY AICTE AND UGC, ACCREDITED BY NAAC WITH 'A' GRADE</small>
        </h7><br><p style="font-weight:bold;font-size:80%;"> SHAVIGE MALLESHWARA HILLS, KUMARASWAMY LAYOUT, BENGALURU - 78</p>
        </center>
      </div>
  </div>
    <hr>
    <center><p style="color:#046c8e;font-size:180%;">DEPARTMENT OF INFORMATION SCIENCE AND ENGINEERING</p></center>
    <h4><small>Welcome to</small> Project Allotment <small>for Final Year ISE Students (UG Batch 2015-19) </small></h4>
    <p>Please login with registered ID to continue</p>
    <hr><br>
    <div class="alert alert-info">
      <p>Note: <em>Login allowed only through the registered email.</em></p>
      <p>If login is not working please use incognito mode ( <small><kbd>ctrl-shift-N</kbd></small> )</p>
      <small><strong>Verify all your details</strong> before clicking the submit button. 
        <strong>Submissions cannot be modified</strong>.<br>
      Final project assignments are up to the coordinators and respective guides.<br>
      Allotment is done on <strong>first-come-first-serve</strong> basis (whoever submits first). Your IP address and timestamp are being recorded</small>
    </div>
    <center><a class="btn btn-danger" href="/auth/google">Login with Google</a></center>
    <hr><br>
    <h6>About</h6>
    <div class="row">
      <div class="col-md-9">
        <p>Project allotment coordinators:</p>
        <ul>
          <li>Mrs. Sharon Christa <br><small>Asst. Professor, Dept. of ISE</small> </li>
          <li>Mrs. Radhika T.V. <br><small>Asst. Professor, Dept. of ISE</small></li>
        </ul>
      </div>
      <div class="col-md-3">
        <img style="height:3em" src="https://cdn.glitch.com/914cc278-c3a0-4b60-8a95-d762ade5c801%2Fupdated%20logo.jpeg?1536168762686">
        <p>Dept. of ISE, DSCE,<br>Shavige Malleshwara Hills,<br>Kumaraswamy Layout,<br>Bengaluru - 560078</p>
      </div>
    </div>
    <br><br>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
  var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
  var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
  if(!isChrome&&!isSafari){
    alert("Only CHROME or SAFARI browser will work during mock allotment.");
  }
  if(window.location.hash==="#unregisteredemail"){
    window.location.hash="";
    alert("Your email is not registered for any team. Please contact coordinators");
  }
</script>
</body>
</html>
